{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
 .login{
            background-image: url("{% static 'login/images/bg1.jpg' %}");
        }
</style>
<!--<body class="bg-cover bg-fixed flex items-center justify-center mt-40" style="background-image: url( 'images/bg1.jpg' );">--->
    <body class="bg-cover bg-fixed flex items-center justify-center mt-40 login" >
    <form class="w-full bg-transparent p-6 max-w-md rounded-3xl" action="{% url 'login_request' %}" method="POST" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);">

        {% csrf_token %}
        <h2 class="text-white font-bold text-4xl text-center" style="text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);">Se connecter</h2> <br>
        <div class="username">
            <label for="email" class="text-2xl font-bold text-left">Email</label> <br><br>
            <input class="w-full rounded-3xl h-10" type="email" name="email" id="email">
        </div><br>
        <div class="username">
            <label for="password" class="text-2xl font-bold text-left">Mot de passe</label> <br><br>
            <input class="w-full rounded-3xl h-10" type="password" name="password" id="password">
        </div><br>
        <input class="bg-green-500 font-bold w-full text-2xl rounded-3xl h-12 text-green-700 animate-pulse hover:bg-green-800 hover:text-white transition duration-500 ease-in-out" type="submit" value="Connexion">
    </form>
</body>
</html>
